.fws-pagination {
    font-size: 25px;

    > span,
    a {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        padding-right: 0.5em;
        padding-left: 0.5em;
        border-radius: 0.25rem;
    }

    > .page-numbers.current {
        background: var(--fws-background);
        color: white;
    }

    a {
        &:hover {
            color: white;
            background-color: var(--fws-background);
            transition: background-color 0.1s linear;
        }
    }
}
